{%  extends "layout.html.twig" %}
{% block contenu %}
    {% block recherche %}
        <h3>recherche</h3>
        <div class="container">
            <form action="?c=GestionClient&a=chercheUn" method="post">
                {{ include('/blocks/clientRecherche.html.twig') }}
                <input type="submit" value="Voir" class="btn btn-default"/>
            </form>
        </div>
    {% endblock %}
    {% if unClient %}
        {{ include('/blocks/singleClient.html.twig') }}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
    